# Dependencies
/node_modules
/dist
/android-sdk
/intervall-alarm-app-source.tar.gz
/intervall-alarm-app-source.zip

# Build files
/android/app/build
/android/.gradle
/android/build

# Local settings
.idea/
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
